.form-group {
    width: 200px;
}

.button-info {
    width: 200px;
    margin-bottom: 20px;
    
}
.button-success {
    margin-top: 20px;
    width: 200px;
}
.sign-in {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;;
    width: 250px;
    font-family: monospace;
}

.my-title {
    font-family: monospace;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

.button-about {
    
    width: 200px;
}

.about {
    margin-top: 70px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}