

.table-style {
	width: 500px;
}

.form-group {
    width: 200px;
}

.button-info {
    width: 200px;
    margin-bottom: 20px;
    
}
.button-success {
    margin-top: 20px;
    width: 200px;
}
.sign-in {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;;
    width: 250px;
    font-family: monospace;
}

.my-title {
    font-family: monospace;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

.button-about {
    
    width: 200px;
}

.about {
    margin-top: 70px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.hello {
	font-family: monospace;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.list-title {
	font-family: monospace;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.my-table, th, td, tr {
	.width: 200px;
	.margin-left: auto;
	.margin-right: auto;
}

.error-info-label {
	width: 250px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.options {
	margin-left: auto;
   margin-right: auto;
   margin-top: 20px;;
   width: 250px;
   font-family: monospace;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
 
 
.button-option {
	.font-family: monospace;
}